#pokedexTimes {
    margin-top: 20px;
    height: 80vh;
    width: 40vw;
    overflow: auto;
}

#pokedexTime {
    height: 80vh;
    width: 40vw;
    overflow: auto;
}

.accordionPokemon {
    box-shadow: 0px 0px 1px #CCC;
    margin: 0px 0px 30px 0px;
    line-height: 85px;
}

.accordionPokemon .tipo {
    height: 40px !important;
    width: 50px !important;
}

.pokemonDesc {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

#timesConteudo {
    display: flex;
    justify-content: space-evenly;
}

#pesquisaTime {
    width: 38vw;
    margin: 0px auto;
}

#pokedexTimes::-webkit-scrollbar {
    width: 7px;
}

#pokedexTimes::-webkit-scrollbar-track {
    background: transparent;
}

#pokedexTimes::-webkit-scrollbar-thumb {
    background-color: #1976d2;
    border-radius: 20px;
    border: 1px solid white
}